<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title></title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width"/>
        <link rel="stylesheet" href="styles/main.css"/>
        <link rel="stylesheet" href="styles/forkit.css"/>
        <link rel="stylesheet" href="styles/app.css"/>
        <link href='http://fonts.googleapis.com/css?family=Keania+One' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,900' rel='stylesheet' type='text/css'>
        <script src="scripts/vendor/jquery.min.js"></script>
        <script src="scripts/vendor/bootstrap/bootstrap.min.js"></script>
        <script src="scripts/vendor/async.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.7/angular.min.js"></script>
    </head>
    <body ng-app="app">
	<div class="gitber container" id="tagHeading" style="position:fixed; text-align:center;" data-0="margin-top:-50px;" data-anchor-target="#fitHeader" data-50-top-bottom="margin-top:-50px;" data--250-top-bottom="margin-top:0px;">
				<p>GitBer!</p>
    </div>
    <div class="container">

            <div class="row-fluid" style="text-align:center;">
                <p class="gitber" id="fitHeader"><span id="gitber1">G</span><span id="gitber2">i</span><span id="gitber3">t</span><span id="gitber4">B</span><span id="gitber5">e</span><span id="gitber6">r</span><span id="gitber7">!</span><span id="gitber8"><i class="icon-github"></i></span></p>
            </div>
            <div class="row-fluid">
                <div class="span4">
				<div>
                    <div class="row-fluid" >
                        <div class="searched white">
                            <div ng-controller="UserSearchCtrl" class="input-append" style="margin-top:15px; padding-left:10px;">
                                <input type="text" placeholder="Github username" class="span8" ng-model="username">
                                <button class="btn btn-info" ng-click="search($event)">Go!</button>
                            </div>
                            <p style="padding:5px 10px; border-bottom:1px solid #ccc;" class="lead blue">Recent Searches</p>
                            <ul class="unstyled recentSearches table-striped" ng-controller="RecentSearchCtrl">
                                <li ng-repeat="username in searches">
                                    <a href="#" title="view again" ng-click="search(username, $event)">{{ username }}</a>
                                    <a class="btn btn-info btn-mini pull-right" href="#" title="remove" ng-click="remove(username, $event)">X</a>
                                </li>
                            </ul>
                        </div>
                    </div>

					<div class="row-fluid" >
                        <div ng-controller="OrgsSearchCtrl" class="searched white">
                            <div class="input-append" style="margin-top:15px; padding-left:10px;">
                                <form ng-submit="search($event)">
                                    <input type="text" placeholder="Organisation Name" class="span8" ng-model="orgname">
                                    <button class="btn btn-info" type="submit">Go!</button>
                                </form>
                            </div>
                            <p style="padding:5px 10px; border-bottom:1px solid #ccc;" class="lead blue">Organisation Members</p>
                            <ul class="unstyled recentSearches table-striped" style="max-height:171px; overflow:auto;">
                                <li ng-repeat="member in members">
                                    <a ng-click="searchUser(member.username, $event)" href="#" title="view repos">{{member.username}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row-fluid" style="position:relative;">
                        <div id="userData" class="searched white" ng-controller="UserBioCtrl">
                            <p style="padding:5px 10px; border-bottom:1px solid #ccc;" class="lead blue">User Bio</p>
                            <div ng-if="user.username" class="row-fluid">
                                <div class="span12" style="padding-left:10px;padding-right:100px;">
                                    <p ng-if="user.name"><strong>Name:</strong> {{user.name}}</p>
                                    <p><strong>Username:</strong> {{user.username}}</p>
                                    <p ng-if="user.company"><strong>Company:</strong> {{user.company}}</p>
                                    <p><strong>Repos:</strong> {{user.repos}}</p>
                                    <p><strong>Followers:</strong> {{user.followers}}</p>
                                    <p><strong>Joined on:</strong> {{user.joined}}</p>
                                </div>
                                <img class="avatar img-polaroid" ng-src="{{user.avatar}}" />
                            </div>
                            <div class="row-fluid visible-phone phoneButtons">
                                <div ng-if="user.email" class="phone-button">
                                    <a class="btn btn-primary btn-large" ng-href="mailto:{{user.email}}"><i class="icon-envelope-alt icon-4x"></i></a>
                                </div>
                                <div ng-if="user.blog" class="phone-button">
                                    <a class="btn btn-warning btn-large" ng-href="{{user.blog}}" target="_blank"><i class="icon-comments icon-4x"></i></a>
                                </div>
                                <div ng-if="user.location" class="phone-button">
                                    <a class="btn btn-danger btn-large" ng-href="https://www.google.com/maps/search/{{user.location}}" target="_blank"><i class="icon-map-marker icon-4x"></i></a>
                                </div>
                                <div ng-if="user.hireable" class="phone-button">
                                    <a class="btn btn-inverse btn-large" ng-href="{{user.blog}}" target="_blank"><i class="icon-suitcase icon-4x"></i></a>
                                </div>
                            </div>
                            <div class="row-fluid hidden-phone" style="position:absolute; margin-top:10px;overflow:hidden;">
                                <div ng-if="user.email" class="span3">
                                    <div class="ribbon emailTag" style="position:relative;">
                                        <a ng-href="mailto:{{user.email}}"><img src="images/small-fork.png"><span class="bioDropdown"><p class="lead" style="color:#fff;">Email</p><i class="icon-envelope-alt icon-2x"></i></span></a>
                                    </div>
                                </div>
                                <div ng-if="user.blog" class="span3">
                                    <div class="ribbon blogtag" style="position:relative;">
                                        <a ng-href="{{user.blog}}" target="_blank"><img src="images/small-fork.png"><span class="bioDropdown"><p class="lead" style="color:#fff;">Blog</p><i class="icon-comments icon-2x"></i></span></a>
                                    </div>
                                </div>
                                <div ng-if="user.location" class="span3">
                                    <div class="ribbon localeTag" style="position:relative;">
                                        <a ng-href="https://www.google.com/maps/search/{{user.location}}" target="_blank"><img src="images/small-fork.png"><span class="bioDropdown"><p class="lead" style="color:#fff;">Locale</p><i class="icon-map-marker icon-2x"></i></span></a>
                                    </div>
                                </div>
                                <div ng-if="user.hireable" class="span3">
                                    <div class="ribbon hireTag" style="position:relative;">
                                        <a ng-href="{{user.blog}}" target="_blank"><img src="images/small-fork.png"><span class="bioDropdown"><p class="lead"  style="color:#fff;">Hire</p><i class="icon-suitcase icon-2x"></i></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
					</div>
                </div>
                <div class="span8">
                    <div class="row-fluid">
                        <div ng-controller="UserReposCtrl" id="results" class="white">
                            <p style="padding:5px 10px; border-bottom:1px solid #ccc;  margin-bottom:-1px;" class="lead blue">User Repositories</p>
                            <div ng-repeat="repo in repos" class="row-fluid">
                                <div class="repo">
                                    <div class="span12 repoDetails">
                                        <blockquote>
                                            <h3 class="blue" style="margin-bottom:0px;"><a target="_blank" ng-href="{{repo.repoUrl}}">{{repo.name}}</a></h3>
                                            <p><strong>Language:</strong> {{repo.language}}</p>
                                            <p><strong>File Size:</strong> {{repo.size}}kb</p>
                                            <p><strong>Description:</strong></p>
                                            <div class="row-fluid">
                                                <div class="span10">
                                                    <pre>{{repo.readme}}</pre>
                                                </div>
                                            </div>

                                            <small>Created on {{repo.created}}</small>
                                            <div class="ribbonWrapper" style="overflow:hidden;">
                                                <a target="_blank" ng-href="{{repo.repoUrl}}"><img class="ribbon" src="images/fork.png" alt="Fork me on GitHub"></a>
                                            </div>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </script>
        </div>
    </div>

        <div class="forkit-curtain">
            <div class="close-button"></div>
            <div class="container">
                <div class="row-fluid">
                    <div class="span3">

                    </div>
                    <div class="span6">
                        <h1 class="blue">Information about GitBer goes here</h1>
                    </div>
                </div>
            </div>
        </div>

        <!-- The ribbon -->
        <a class="forkit" data-text="About" data-text-detached="Drag down >" href="https://github.com/hakimel/forkit.js"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/camo.github.com/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub"></a>
    <div class="footer gitber" style="position:fixed; bottom:0px; left:0px; background:#fff; height:40px; width:100%; text-align:center;">
				<p>footer!</p>
	</div>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <!-- Add your site or application content here -->

        <!-- build:js scripts/scripts.js -->
        <script src="scripts/vendor/base64.js"></script>
        <script src="scripts/vendor/jquery.fittext.js"></script>
        <script src="scripts/vendor/forkit.js"></script>
        <script src="scripts/utils.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/vendor/skrollr.min.js"></script>
        <script>

		$(function() {
		$("#fitHeader").fitText(0.7);
			skrollr.init({
				forceHeight: false
			});
		});
    </script>
        <!--script src="scripts/routes/app-router.js"></script>
        <script src="scripts/store.js"></script>
        <script src="scripts/controllers/application-controller.js"></script>
        <script src="scripts/models/application-model.js"></script>
        <script src="scripts/views/application-view.js"></script-->
        <!-- endbuild -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID.
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script> -->
    </body>
</html>
